.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:63px;
    margin-left: 23px;
}
.userAvatar{
    width: 140px;
    height: 140px;
    background:#C4C4C4;
}
.container p{
    margin-top: 23px;
    font-size: 23px;
}